* {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0 0.5rem 0;
}

.app {
  padding: 1rem;
  background-color: #d5dce9;
  color: black;
}

.qrcode {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 240px;
  height: 240px;
  font-weight: bold;
  color: gray;
  background-color: lightgrey;
  text-shadow: 1px 1px 0 white;
}

.dark-theme {
  filter: invert(1);
}